
@font-face {
	
	font-family : "b" ;
	src: url('font/solaiman.ttf') format('truetype');
}

body{
 
  padding: 0;
  margin: 0;	
  background: url('image/rocket.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#background{
    width: 100%;
    height: 100%;
	background-color: rgba(248, 247, 216, 0.7);
  
   
}


#container{
	
	width : 80%;
	height : 100%;
	margin : 0px auto ;
	
}


	
#nav{
	
	margin-bottom : 5px;
	height :40PX;
	width : 100% ;
	
	
	
}	

 
#nav ul{
	
	margin : 0px auto ;
	padding : 0px ;
	list-style  :none ;
	margin-left : 3px;
	
}

#nav ul li{
	
	float:left;
	width : 200px;
	height : 39px;
	background-color : black ;
	line-height : 40px;
	text-align :center ;
	margin : 1px ;
	
	
}

#nav ul li a{
	
	text-decoration :none ;
	color :white ;
	display :block ;
	font-size : 13.5px ;
	font-family : 'b';
	color:white ;

}

#nav ul li a:hover{
	
	color:green ;
}

#nav ul li ul{
	margin : auto ;

}

#nav ul li ul li {
	
	background-color : black ;
	
	margin : 0px ;
	padding :0px;
	display :none ;
	
}

#nav ul li:hover ul li{
	
	display :block ;
}


.content {
	
	margin-top : 50px;
	min-height: 1000px;
	width: 100%;
	background: white ;; 
}

#title h1 {
	margin : 1px ;
	color :Green ;
	text-align :center ;
	text-decoration : underline ;
	margin-bottom : 20px;
	text-shadow : 0px 0px 30px black ;
	font-family : 'b',Serif;
	
}

#title  p1{
	margin : auto ;
	padding : 0px;
	font-family :Serif;
	font-size : 20px;
	
}

 .imageside {
	
	width : 350px;
	height : 350 px;
	float : right ;
	border-radius :5px;
	margin-left : 10px;
	margin-right : 10px;
	margin-top : 0px;
	margin-bottom : 10px;
	clear :right ;
	float : left ;
}



.myslider {
	
	margin-left : 5px;
	
	padding: 50px;
	
}




















